<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.dao.product.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.app.model.Product" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="proname" property="proname" jdbcType="VARCHAR" />
    <result column="uname" property="uname" jdbcType="VARCHAR" />
    <result column="buycount" property="buycount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, proname, uname, buycount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from product
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from product
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.app.model.Product" >
    insert into product (id, proname, uname, 
      buycount)
    values (#{id,jdbcType=VARCHAR}, #{proname,jdbcType=VARCHAR}, #{uname,jdbcType=VARCHAR}, 
      #{buycount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.app.model.Product" >
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="proname != null" >
        proname,
      </if>
      <if test="uname != null" >
        uname,
      </if>
      <if test="buycount != null" >
        buycount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="proname != null" >
        #{proname,jdbcType=VARCHAR},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="buycount != null" >
        #{buycount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.app.model.Product" >
    update product
    <set >
      <if test="proname != null" >
        proname = #{proname,jdbcType=VARCHAR},
      </if>
      <if test="uname != null" >
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="buycount != null" >
        buycount = #{buycount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.app.model.Product" >
    update product
    set proname = #{proname,jdbcType=VARCHAR},
      uname = #{uname,jdbcType=VARCHAR},
      buycount = #{buycount,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>